/* portfolio.scss */

/* Portfolio Images */
.picture.ifixit {background-image:url('../images/ifixit_lg.png') !important;}
.picture.dean {background-image:url('../images/dean_lg.png') !important;}
.picture.pikkas {background-image:url('../images/pikkas_lg.png') !important;}
.picture.dodge {background-image:url('../images/dodge_lg.png') !important;}
.picture.level {background-image:url('../images/level_lg.png') !important;}
.picture.renew {background-image:url('../images/renew_lg.png') !important;}
